/* h1{
    color: brown;
}
body {
    background-image: url('https://images.pexels.com/photos/280221/pexels-photo-280221.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    background-color: lavender;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image: url('/static/images/index4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    background-image: url('https://images.pexels.com/photos/280221/pexels-photo-280221.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat:no-repeat;
    background-size: cover;
}

body{
    background-image: url('https://cdn.pixabay.com/photo/2017/12/22/08/01/image-3033200_960_720.jpg');
    background-repeat:no-repeat;
    background-size: cover;
  }

  body{
    background-color: linen;
    
  }
  body{
    background-color: lavender;
    background-repeat:no-repeat;
    background-size: cover;
}

body{
    background-image: url('https://cdn.pixabay.com/photo/2017/12/22/08/01/image-3033200_960_720.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

 */

 .login{
     background-image: url('../images/Hood11.jpeg');
     height: 90vh;
     width: 100vw;
     color: white;
 }

 .signup{
     background-image: url('../images/neighbor2.jpeg');
     color: white;
 }
 .homepage{
     background-image: url('../images/Hood11.jpeg');
     height: 90vh;
     color: white;
 }
 .background-2 {
     background-image: url('../images/sas.jpeg');
     height: 94vh;
 }